---
http_interactions:
- request:
    method: get
    uri: http://api.ipinfodb.com/v3/ip-city/?format=json&ip=64.233.191.255&key=api_key&timezone=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"statusCode\" : \"OK\",\n\t\"statusMessage\" : \"\",\n\t\"ipAddress\"
        : \"64.233.191.255\",\n\t\"countryCode\" : \"US\",\n\t\"countryName\" : \"United
        States\",\n\t\"regionName\" : \"California\",\n\t\"cityName\" : \"Mountain
        View\",\n\t\"zipCode\" : \"94043\",\n\t\"latitude\" : \"37.406\",\n\t\"longitude\"
        : \"-122.079\",\n\t\"timeZone\" : \"-07:00\"\n}"
  recorded_at: Sun, 19 Jul 2015 08:07:50 GMT
recorded_with: VCR 2.9.3
