---
http_interactions:
- request:
    method: get
    uri: http://api.ipinfodb.com/v3/ip-country/?format=json&ip=invalid%20url&key=api_key&timezone=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"statusCode\" : \"ERROR\",\n\t\"statusMessage\" : \"Invalid IP
        Address.\",\n\t\"ipAddress\" : \"invalid url\",\n\t\"countryCode\" : \"\",\n\t\"countryName\"
        : \"\"\n}"
  recorded_at: Fri, 17 Jul 2015 12:37:38 GMT
recorded_with: VCR 2.9.3
