---
http_interactions:
- request:
    method: get
    uri: http://api.ipinfodb.com/v3/ip-city/?format=json&ip=devbattles.com&key=api_key&timezone=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"statusCode\" : \"OK\",\n\t\"statusMessage\" : \"\",\n\t\"ipAddress\"
        : \"104.236.167.162\",\n\t\"countryCode\" : \"US\",\n\t\"countryName\" : \"United
        States\",\n\t\"regionName\" : \"California\",\n\t\"cityName\" : \"San Francisco\",\n\t\"zipCode\"
        : \"94102\",\n\t\"latitude\" : \"37.7749\",\n\t\"longitude\" : \"-122.419\",\n\t\"timeZone\"
        : \"-07:00\"\n}"
  recorded_at: Sun, 19 Jul 2015 08:07:52 GMT
recorded_with: VCR 2.9.3
